body {
  font-family: 'Roboto', Helvetica, sans-serif;
  padding: 0;
  background-color: rgb(149, 229, 233);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica,
   sans-serif;
   font-size: 35px;
   color: darkmagenta;
   
}

.container {
  max-width: 1070px;
  padding: 0 1rem;
  margin: 0 auto;
}

img {
  width: 100%;
}

.main-nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
   padding: 0;
  margin: 0;
}

.main-nav ul li {
  flex: 1;
  color: rgb(254, 60, 66);
  text-align: center;
  
}

.main-nav ul li a {
  display: block;
 color: black;
  font-size: 1.25rem;
  text-decoration: none;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  color: rgb(15, 9, 9);
  border: 2px solid black;
  background-color: burlywood;
  border-radius: 9PX;
  padding: 1rem;
  text-transform: uppercase;
}

.site-footer {
  padding: 2rem 0;
}